.result {
  display: none;
  text-align: center;
}

.row {
  margin-top: 40px;
}

.card {
  padding: 10px;
  background-color: #e0838357;
}

img {
  max-width: 220px;
  border-radius: 50%;
  border: solid;
  box-shadow: 2px 2px 5px;
}

form {
  padding-left: 50px;
}

#nameplace {
  margin-bottom: 10px;
}
